/* Global Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 4.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4,
h5 {
  font-size: 2.5rem;
}

a {
  color: #27394e;
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  color: white;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 30px;
  outline: none;
  border: none;
  cursor: pointer;
}

.intro-btn-blue {
  background-color: #27394e;
}

.intro-btn-red {
  background-color: #900;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#43bbee), to(#63dbb3));
  background: linear-gradient(#43bbee, #63dbb3);
}

main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toggle {
  position: absolute;
  top: 0%;
  left: 2%;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-blue {
  color: #27394e;
}

.intro-red {
  color: #900;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  left: 0%;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #27394e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #900;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #900;
          box-shadow: 0 0 1px #900;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 75%;
  z-index: 2;
  position: relative;
  -webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
}

/* Nav Section */
nav {
  min-height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
}

#logo {
  font-size: 4.6rem;
  font-family: "Great Vibes", cursive;
  font-weight: 100;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.intro-blue {
  color: #27394e;
}

.intro-red {
  color: #900;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 40rem;
          flex: 3 1 40rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  font-weight: bold;
}

/* Introduction */
.introduction {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.introduction h2 {
  padding-top: 5rem;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #27394e;
}

.introduction h1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}

.intro-blue {
  color: #27394e;
}

.intro-red {
  color: #900;
}

.introduction h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: #27394e;
}

.img-me {
  width: 15%;
  height: auto;
  border-radius: 50%;
  position: absolute;
  display: block;
  margin-left: 65%;
  margin-top: -16%;
}

/* Introduction */
.about {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about h2 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

.intro-blue {
  color: #27394e;
}

.intro-red {
  color: #900;
}

.achievements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.award {
  width: 25%;
  margin: auto;
  padding: 0;
  margin: 0;
}

.achievment-text {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

/* Introduction */
.project {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project h2 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

.intro-blue {
  color: #27394e;
}

.intro-red {
  color: #900;
}

/* Introduction */
.learning-outcomes {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.learning-outcomes h2 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

.learning-outcomes a {
  padding-top: 3rem;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.intro-blue {
  color: #27394e;
}

.intro-red {
  color: #900;
}

/* Introduction */
.contact {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.contact h2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

.mini-text {
  font-style: normal;
  font-size: 18px;
  color: #27394e;
}

.contact-form {
  background-color: white;
  width: 25vw;
  height: 50vh;
  max-width: 50%;
  max-height: 100%;
  padding: 2rem 4rem;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
}

.input-group {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-group:last-child {
  margin-bottom: 0;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input-group textarea {
  padding: 6rem;
}

.input-group input,
.input-group textarea {
  outline: none;
  background: none;
  border: 1px solid;
  border-radius: 5px;
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: #38d39f;
}

footer {
  background: #27394e;
  margin: auto;
  min-height: 10vh;
  padding: 0% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  margin: auto;
}

.footer-content ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-content a {
  color: white;
}

.footer-content h4 {
  color: white;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
}
/*# sourceMappingURL=style.css.map */