/* Nav Section */
nav {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  scroll-behavior: auto;
}
#logo {
  font-size: 5rem;
  font-family: "Great Vibes", cursive;
  font-weight: 100;
  flex: 1 1 40rem;
}
.nav-links {
  display: flex;
  flex: 3 1 40rem;
  justify-content: space-around;
  list-style: none;
  font-weight: bold;
  a {
    font-size: 2.8rem;
  }
}
.menu-check {
  opacity: 0;
}

/* Media Queries */
@media screen and (max-width: 1920px) {
  #logo {
    font-size: 4.6rem;
  }
  .nav-links a {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 1580px) {
  .nav-links {
    flex: 1 1 70rem;
  }
}

@media screen and (max-width: 1450px) {
  #logo {
    font-size: 3.8rem;
  }
  .nav-links a {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1024px) {
  .burger {
    position: relative;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: #525252;
    margin: 0.5rem 0rem;
    display: block;
  }
  .nav-links a {
    color: white;
    font-size: 3rem;
    text-decoration: underline;
  }

  .nav-links {
    background: #27394e;
    width: 80%;
    height: 85vh;
    // margin-left: 10%;
    position: fixed;
    top: 7.5%;
    left: 100%;
    flex-direction: column;
    align-items: center;
    // transition: transform 1s ease;
  }

  .menu-check {
    position: absolute;
    top: 8%;
    right: 10%;
    transform: translate(5%, -50%);
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    opacity: 0;
    z-index: 100;
  }
  .menu-check:checked + .nav-links {
    transform: translate(-112.5%);
    // left: 0;
  }
  .menu-check:checked + footer {
    display: none;
  }
  .menu-check:checked ~ .burger span {
    // transform: translate(-100%);
    background: white;
  }
}
