/* Global Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 4.6rem;
  font-family: "Poppins", sans-serif;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 3.5rem;
  font-family: "Poppins", sans-serif;
}

h3 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
}

h4,
h5 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
}

a {
  color: #27394e;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

a:hover {
  color: #ffd700;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

/* color swap*/
.intro-blue {
  color: #27394e;
}

.intro-red {
  color: #900;
}

main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.toggle {
  position: absolute;
  top: 0%;
  left: 1%;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  left: 100%;
  width: 60px;
  height: 34px;
  margin-top: 25px;
  z-index: 100;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #27394e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #900;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #900;
          box-shadow: 0 0 1px #900;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Media Queries */
@media screen and (max-width: 1900px) {
  .toggle h2 {
    font-size: 2.5rem;
    position: absolute;
    top: 0%;
    left: 1%;
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1600px) {
  .switch {
    left: 80%;
  }
}

/* Media Queries */
@media screen and (max-width: 1400px) {
  .toggle h2 {
    font-size: 2rem;
    position: absolute;
    top: 0%;
    left: 1%;
    margin-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .switch {
    left: 65%;
  }
}

@media screen and (max-width: 1200px) {
  .toggle h2 {
    display: none;
  }
  .switch {
    left: 50%;
  }
}

@media screen and (max-width: 1200px) {
  .switch {
    left: 30%;
  }
}

@media screen and (max-width: 1200px) {
  .switch {
    left: 30%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 660px) {
  .toggle {
    display: none;
  }
  /* The switch - the box around the slider */
}

.card {
  background: white;
  height: 85vh;
  width: 80%;
  z-index: 2;
  position: relative;
  -webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.3);
}

.content {
  height: 55vh;
  width: 80%;
  margin: auto;
  overflow: auto;
  scroll-behavior: smooth;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(211, 211, 211, 0.7) white;
}

*::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: white;
  /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(211, 211, 211, 0.7);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid white;
  /* creates padding around scroll thumb */
}

@media screen and (max-width: 660px) {
  .card {
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  .content {
    height: 70vh;
    width: 100%;
  }
}

/* Nav Section */
nav {
  min-height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
  position: absolute;
  top: 0;
}

#logo {
  font-size: 5rem;
  font-family: "Great Vibes", cursive;
  font-weight: 100;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 40rem;
          flex: 3 1 40rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  font-weight: bold;
}

.nav-links a {
  font-size: 2.8rem;
}

.menu-check {
  opacity: 0;
}

/* Media Queries */
@media screen and (max-width: 1920px) {
  #logo {
    font-size: 4.6rem;
  }
  .nav-links a {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 1580px) {
  .nav-links {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 70rem;
            flex: 1 1 70rem;
  }
}

@media screen and (max-width: 1450px) {
  #logo {
    font-size: 3.8rem;
  }
  .nav-links a {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1024px) {
  .burger {
    position: relative;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: #525252;
    margin: 0.5rem 0rem;
    display: block;
  }
  #logo {
    font-size: 2.8rem;
  }
  .nav-links a {
    color: white;
    font-size: 3rem;
    text-decoration: underline;
  }
  .nav-links {
    background: #27394e;
    width: 80%;
    height: 85vh;
    position: fixed;
    top: 7.5%;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-check {
    position: absolute;
    top: 8%;
    right: 10%;
    -webkit-transform: translate(5%, -50%);
            transform: translate(5%, -50%);
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    opacity: 0;
    z-index: 100;
  }
  .menu-check:checked + .nav-links {
    -webkit-transform: translate(-112.5%);
            transform: translate(-112.5%);
  }
  .menu-check:checked + footer {
    display: none;
  }
  .menu-check:checked ~ .burger span {
    background: white;
  }
}

/* Introduction */
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 100%;
  overflow-x: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .home-text h2 {
  color: #27394e;
  font-size: 4rem;
}

.home .home-text h1 {
  font-size: 5.2rem;
}

.home .home-text h4 {
  font-size: 2.2rem;
  color: #27394e;
}

.home .intro-about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .intro-about-me .img-me {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

@media screen and (max-width: 1920px) {
  /* Introduction */
  .home .home-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .home-text h2 {
    color: #27394e;
    font-size: 36px;
  }
  .home .home-text h1 {
    font-size: 48px;
  }
  .home .home-text h4 {
    font-size: 18px;
    color: #27394e;
  }
  .home .intro-about-me .img-me {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
}

@media screen and (max-width: 1450px) {
  .home .intro-about-me .img-me {
    width: 250px;
    height: 250px;
  }
  .home .home-text h2 {
    font-size: 32px;
  }
  .home .home-text h1 {
    font-size: 44px;
  }
  .home .home-text h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .home .intro-about-me .img-me {
    width: 220px;
    height: 220px;
  }
  .home .home-text h2 {
    font-size: 30px;
  }
  .home .home-text h1 {
    font-size: 42px;
  }
  .home .home-text h4 {
    font-size: 12px;
  }
}

@media screen and (max-height: 630px) {
  .home .intro-about-me .img-me {
    width: 200px;
    height: 200px;
  }
  .home .home-text h2 {
    font-size: 2.6rem;
  }
  .home .home-text h1 {
    font-size: 3.8rem;
  }
  .home .home-text h4 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1024px) {
  .home .intro-about-me .img-me {
    display: none;
  }
}

@media screen and (max-width: 660px) {
  .home {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .intro-about-me .img-me {
    display: none;
  }
  .home .home-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .home-text h2 {
    font-size: 2.6rem;
  }
  .home .home-text h1 {
    font-size: 3rem;
  }
  .home .home-text h4 {
    font-size: 1.3rem;
  }
}

/* Introduction */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about-text {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 40rem;
          flex: 4 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0rem 2.5rem;
  margin-right: 2.5rem;
}

.about .about-text p {
  color: #27394e;
  margin-bottom: 5%;
}

.about .about-skills {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0rem 2.5rem;
}

.about .about-skills .programming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .about-skills .programming p {
  color: #27394e;
}

.about .about-skills .software {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
}

.about .about-skills .software p {
  color: #27394e;
}

.about .about-skills .operating-systems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
}

.about .about-skills .operating-systems p {
  color: #27394e;
}

@media screen and (max-width: 1920px) {
  .about .about-text h2 {
    font-size: 3rem;
  }
  .about .about-text p {
    font-size: 1.8rem;
  }
  .about .about-skills {
    margin-bottom: 4rem;
  }
  .about .about-skills h2 {
    font-size: 3rem;
  }
  .about .about-skills .programming h4,
  .about .about-skills .software h4,
  .about .about-skills .operating-systems h4 {
    font-size: 2.2rem;
  }
  .about .about-skills .programming p,
  .about .about-skills .software p,
  .about .about-skills .operating-systems p {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1308px) {
  .about .about-text h2 {
    font-size: 3rem;
  }
  .about .about-text p {
    font-size: 1.8rem;
  }
  .about .about-skills {
    margin-bottom: 4rem;
  }
  .about .about-skills h2 {
    font-size: 3rem;
  }
  .about .about-skills .programming h4,
  .about .about-skills .software h4,
  .about .about-skills .operating-systems h4 {
    font-size: 2.2rem;
  }
  .about .about-skills .programming p,
  .about .about-skills .software p,
  .about .about-skills .operating-systems p {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1024px) {
  .about .about-text h2 {
    font-size: 2.6rem;
  }
  .about .about-text p {
    font-size: 1.3rem;
  }
  .about .about-skills h2 {
    font-size: 2.6rem;
  }
  .about .about-skills .programming h4,
  .about .about-skills .software h4,
  .about .about-skills .operating-systems h4 {
    font-size: 1.3rem;
  }
  .about .about-skills .programming p,
  .about .about-skills .software p,
  .about .about-skills .operating-systems p {
    font-size: 1.3rem;
  }
}

/* Introduction */
.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  overflow-x: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project .medmemo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project .medmemo .img-medmemo {
  width: 200px;
  height: 200px;
}

.project .medmemo-paragraph,
.project .testing-paragraph {
  margin-left: 10rem;
}

.project .medmemo-paragraph .medmemo-link,
.project .testing-paragraph .medmemo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project .medmemo-paragraph .medmemo-link a,
.project .testing-paragraph .medmemo-link a {
  margin-left: 1rem;
}

.project .medmemo-paragraph .medmemo-link button,
.project .testing-paragraph .medmemo-link button {
  border-radius: 10%;
  background-color: #27394e;
  color: white;
  border: none;
  padding: 0.5rem 0.5rem;
}

.project .medmemo-paragraph p,
.project .testing-paragraph p {
  color: #27394e;
}

@media screen and (max-width: 1730px) {
  .project .medmemo {
    margin-top: 5%;
  }
}

@media screen and (max-width: 1440px) {
  .project .medmemo {
    margin-top: 0%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1308px) {
  .project .medmemo .img-medmemo {
    display: none;
  }
  .project .medmemo-paragraph {
    margin-left: 0rem;
  }
  .project .medmemo-paragraph h2 {
    font-size: 3rem;
  }
  .project .medmemo-paragraph p {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1024px) {
  .project .medmemo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: auto;
  }
  .project .medmemo-paragraph h2 {
    font-size: 2.6rem;
  }
  .project .medmemo-paragraph p {
    font-size: 1.3rem;
  }
}

/* Introduction */
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
}

.contact .contact-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-me h2 {
  font-size: 5rem;
}

.contact .contact-me h4 {
  color: #27394e;
  font-size: 3rem;
}

.contact .contact-me p {
  margin-top: 10%;
  color: #27394e;
  font-size: 2.4rem;
}

.contact .list {
  display: none;
}

@media screen and (max-height: 630px) {
  .contact .contact-me h2 {
    font-size: 3.5rem;
  }
  .contact .contact-info h4 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1570px) {
  .contact .contact-me h2 {
    font-size: 3.5rem;
  }
  .contact .contact-info h4 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 660px) {
  .contact {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact .contact-me h2 {
    font-size: 3rem;
  }
  .contact .contact-me h4 {
    color: #27394e;
    font-size: 2rem;
  }
  .contact .contact-me p {
    margin-top: 10%;
    color: #27394e;
    font-size: 1.4rem;
  }
  .contact .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
  }
  .contact .list .email-mini,
  .contact .list .github-mini,
  .contact .list .linkedin-mini {
    width: 4rem;
    height: 4rem;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  background: #27394e;
  width: 100%;
  margin: auto;
  min-height: 10vh;
  padding: 0% 5%;
}

footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
}

footer .footer-content ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-content ul a {
  color: white;
  font-weight: bold;
}

footer .footer-content h4 {
  color: white;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
  font-size: 3.2rem;
}

.email-footer,
.linkedin-footer,
.github-footer {
  width: 3.5rem;
  height: 3.5rem;
}

.github-footer {
  width: 6rem;
  height: 6rem;
}

@media screen and (max-height: 1131px) {
  .email-footer,
  .linkedin-footer {
    width: 3rem;
    height: 3rem;
  }
  .github-footer {
    margin-top: 0.3rem;
    width: 4.2rem;
    height: 4.2rem;
  }
  footer .footer-content h4 {
    font-size: 2.5rem;
  }
}

@media screen and (max-height: 900px) {
  .email-footer,
  .linkedin-footer {
    width: 2.5rem;
    height: 2.5rem;
  }
  .github-footer {
    width: 3.6rem;
    height: 3.6rem;
  }
  footer .footer-content h4 {
    font-size: 2.3rem;
  }
}

@media screen and (max-height: 750px) {
  .email-footer,
  .linkedin-footer,
  .github-footer {
    width: 2.2rem;
    height: 2.2rem;
  }
  .github-footer {
    margin-top: 0.3rem;
    width: 3.4rem;
    height: 3.4rem;
  }
  footer .footer-content h4 {
    font-size: 2.1rem;
  }
}

@media screen and (max-height: 630px) {
  .email-footer,
  .linkedin-footer {
    width: 2.1rem;
    height: 2.1rem;
  }
  .github-footer {
    margin-top: 0.4rem;
    width: 3.2rem;
    height: 3.2rem;
  }
  footer .footer-content h4 {
    font-size: 1.8rem;
  }
}

@media screen and (max-height: 500px) {
  .email-footer,
  .linkedin-footer {
    width: 1.8rem;
    height: 1.8rem;
  }
  .github-footer {
    margin-top: 0.6rem;
    width: 2.5rem;
    height: 2.5rem;
  }
}

@media screen and (max-width: 662px) {
  footer {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */